.container-a {
  background-color: $cinq;
  }
  .container-a h3{
   color : $zero;
  }
  .card-custom-b {
    display: flex;
    background-color: $zero;
    border-radius: 20px;
    border: $cinq;
    margin-top: 2px;

  }
.card-custom-c {
  display: flex;
  background-color: $zero;
  border-radius: 20px;
  border: $cinq;
  margin-top: 2px;
}
