.container-a {
  background-color: $cinq;
  }
  .container-a h3{
   color : $zero;
  }
  .card-custom-b {
    display: flex;
    background-color: $zero;
    border-radius: 20px;
    border: $cinq;
    margin-top: 2px;
  }
.card-custom-c {
  display: flex;
  background-color: $zero;
  border-radius: 20px;
  border: $cinq;
  margin-top: 2px;
}
@keyframes example {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-custom-b,
.card-custom-c {
  animation: 0.3s example 0.3s ease-in-out;
  animation-fill-mode: both;
}
