

.custom-btn{
  text-decoration: none;
  background-color: $cinq;
  color: $zero;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 0 5px 2px $un;
}

.custom-btn-login{
  text-decoration: none;
  background-color: $trois;
  color: $zero;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 0 5px 2px $un;
}
