.mapboxgl-popup {
  max-width: 150px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: $zero;
  border-radius: 20px;
  margin: auto;

 }



.card-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 3px $un;
}
.card-body-1 {
  background-color: $zero;
  border-radius: 20px;
  border: $cinq;
  margin-top: 1px;
}
