.markeruser {
    width: 15px;
    height: 15px;
    background-color: blue;
    border: 2px solid #FFF;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
