.marker {
  width: 30px;
  height: 30px;
  background-color: $quatre;
  border: 2px solid #FFF;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-30deg);
  transform: translate(15px, 15px);
  position: absolute;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  font-size: large;
  color: $zero;
  text-align: center;
  line-height: 30px;
  
}
