.navbar-custom{
  position: absolute;
  top: 0;
  padding: 5px 10px;
  background-color: $cinq;
  width: 100vw;
  display: flex;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.profile-link{
}
.profile-icon{
  text-decoration: none;
  font-size: x-large;
  color: $deux;
  text-shadow: 0 0 px $zero;
}
